

@media screen and (min-width:1024px) {    

.nav-links {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-left: 2.5em;
    
}

.nav-links-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link-item {
    position: relative;
    margin-right: 0;
}

.nav-link-item  a {
    color: white;
    text-decoration: none;
    display: block;
    background-color: transparent;
    padding: 0.625em 0.625em;
}

.nav-link-item > a::after {
    content: ""; 
    position: absolute;
    left: 50%;
    bottom: 0.375em;
    width: 0;
    height: 0.1875em;
    background-color: white;
    border-radius: 0.3125em;
    transition: all 0.4s ease;
}

.nav-link-item:hover > a::after,
.nav-link-item.active > a::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}


.dropdown-background {
    position: fixed;
    top: 8.4375em;  
    left: 50%;  
    transform: translateX(-50%);  
    width: 100vw; 
    height: 20.75em; 
    background-color: transparent;
    border-radius: 0.3125em;
    z-index: 1;
    display: none;
}


.dropdown {
    display: none;
    position: absolute;
    top: 5%; 
    left: 50%;  
    transform: translateX(-50%); 
    background-color: white;
    min-width: 21.875em;
    padding: 0.9375em;
    border-radius: 0.3125em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    z-index: 10;
    visibility: hidden;
    flex-direction: column;
    width: 62.5em;
    height: auto;
}

.nav-link-item:hover .dropdown-background,
.nav-link-item:hover .dropdown {
    display: flex;
    visibility: visible;
}



.dropdown-container {
    display: flex;
    width: 100%;
    padding: 0.625em;
    flex-direction: row;
}


.dropdown-item {
    display: flex;
    flex-direction: column;
    gap: 0.3125em;
    padding-bottom: 0.625em;
    border-bottom: 0.0625em solid #ddd;
    flex: 1;
    min-width: 12.5em;
    margin-right: 0.9375em;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 0.3125em;
    margin-bottom: 1.25em;
    color: #3a970e;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
   
}

.icon-text img {
    width: 1.25em;
    height: 1.25em;
}




.dropdown-item a,
.bottom-container a {
    color: #4a4a4a;
    text-decoration: none;
    padding: 0.625em;
    display: block;
    border-radius: 0.3125em;
    transition: color 0.3s ease; 
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    font-size: 0.875rem;
    position: relative; 
}


.dropdown-item a::after,
.bottom-container a::after {
    content: ""; 
    position: absolute;
    left: 0.9375em; 
    bottom: 0.3125em; 
    width: 0; 
    height: 0.1875em;
    background-color: #127045; 
    border-radius: 0.625em ;
    transition: width 0.3s ease; 
}


.dropdown-item a:hover,
.bottom-container a:hover {
    color: #127045;
}

.dropdown-item a:hover::after,
.bottom-container a:hover:after {
    width: 10%;
}



.second-dropdown-item {
    flex-grow: 2;
}

.second-dropdown-item .sublinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875em;
}

.dropdown-item .sublinks a {
    padding: 0.5em 0.9375em;
    min-width: 12.5em;
}


.bottom-container {
    width: 100%;  
    padding-bottom: 0.625em;
    display: flex;  
    align-items: center;
    color: #666666;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    font-size: 0.875rem;
}

.bottom-container img{
    height: 1.5625em;
    width: 1.5625em;
    margin-right: 0.3125em;
}

}


