.header-slider-ofertas h1 {
    font-family: 'Montserrat', "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 0.3125em;
    margin-top: 1em;
    margin-left: 0.5em;
    color: #2c2c2c;
}

.oferta-select {
    margin-left: 0.5em;
    font-size: 1.625em;
    padding: 0.3125em;
    border: none;
    outline: none;
    color: #127045;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    width: auto;
}

.oferta-select option {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lato', "Lucida Grande", Tahoma, sans-serif;
}

.slider-ofertas {
    display: flex;
    margin: 1em auto;
    border-radius: 0.5em;
    cursor: pointer;
    user-select: none;
    width: 100%;
    position: relative;
}

.slider-wrapper-ofertas {
    display: flex;
    gap: 0.3125em; 
    transition: transform 0.5s ease; 
}

.slide-ofertas {
    flex: 0 0 auto;
    width: clamp(28.125em, 90%, 46.875em);
    height: clamp(9.375em, 22vw, 13.75em);
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
  
}

.slide-ofertas img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0.5em;
    filter: brightness(90%); 
    transition: transform 0.3s ease;
}

.slide-ofertas:hover img {
    transform: scale(1.1); 
}

.slider-conteudo-ofertas {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    position: absolute;
    top: 5em;
    left: 1.25em;
    width: 90%; 
    color: white;
    font-family: "Montserrat", sans-serif;
    z-index: 2;
}

.oferta-slider {
    text-align: left; 
}

.texto-oferta {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.subtitulo-oferta {
    font-size: 1em;
    font-weight: normal;
}

.preco-oferta {
    text-align: right; 
    font-weight: bold;
}

.texto-preco {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.3em;
}

.ofertas-pc{
    display: none;
}


@media screen and (min-width:768px) {

.header-slider-ofertas {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start; 
    max-width: 75em;
    margin: 0 auto; 
    width: 100%; 
    margin-bottom: 1.25em;
}


.header-slider-ofertas h1 {
    margin: 0; 
    margin-left: 0.625em;
    color: #2c2c2c;
    text-align: start;
}

.oferta-select {
    font-size: 1.625em;
    padding: 0.3125em;
    border: none;
    outline: none;
    color: #127045;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1); 
    border-radius: 0.3125em; 
}
.slider-ofertas{
    display: none;
}

.ofertas-pc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; 
    width: 95%;
    gap: 0.3125em;
    max-width: 74em; 
}

.slide-ofertas {
    margin: 0 0.3125em;
    width: 10.9375em;
    height: 10.625em;
    overflow: hidden;
    border-radius: 0.5em;
    flex-grow: 1;
}

}


@media screen and (min-width:1023px) {
    .header-slider-ofertas{
        margin-top: 20em;
    }

    
}