@media screen and (min-width: 1024px) {
    .container-pc {
        display: flex;
        z-index: 4;
    }

    .container-resto {
        display: none;
    }

    .container-actions {
        width: 94vw;
        position: absolute;
        top: 23.125em;
        left: 50%;
        transform: translateX(-51%);
        display: flex;
        max-width: 74em;
    }

    .container-actions-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f5f5f5;
        align-items: center;
        justify-content: center;
    }

    .headers-containers {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .headers-containers img {
        width: 1.875em;
        margin-right: 0.625em;
        display: none;
    }

    .headers-containers a {
        text-decoration: none;
        color: #2c2c2c;
        font-size: 1rem;
        font-family: 'Montserrat', 'Montserrat-local-backup', Arial, Helvetica, sans-serif;
        position: relative;
    }

    .header-container {
        display: flex;
        align-items: center; 
        justify-content: center; 
        background-color: white;
        border: 0.0625em solid #ededed;
    }

    .header-container a:hover {
        color: #127045;
    }


    .header-container.linha {
        background-color: #f5f5f5; 
        font-family: 'Lato', 'Lato-local-backup', 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-radius: 0.3125em;
    }

    .header-container.linha a::before {
        width: 1.5625em; 
        font-weight: bold;
        font-family: 'Lato', 'Lato-local-backup', 'Roboto', Arial, Helvetica, sans-serif;
    }

    .header-container.linha img {
        display: block;
    }

    .container-action-pc {
        display: none;
    }

    .container-viagens {
        display: flex;
        justify-content: space-between; 
        align-items: stretch; 
    }

    .container-login {
        border-right: 0.125em solid #ededed;
        border-radius: 0.3125em ;
        flex: 1;
        padding: 1em;
        margin-right: 1em;
    }
    
    .container-viagens .container-reserva {
        flex: 1;
        padding: 1em; 
    }

    .container-text{
        gap: 0.80em;
        padding: 0.3125em;
    }
    
    .container-links{
        align-items: center;
        justify-content: center;
    }

    .resultado-conteudo {
        position: absolute;
        background-color: white;
        top: 50%; 
        left: 50%;
        transform: translateX(-50%); 
        padding: 1.25em;
        border-radius: 0.5em;
        width: 60%; 
        box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
        z-index: 5;
        border: 0.0625em solid #ededed;
    }

    .resultado-conteudo h2{
        color: #72be44;
    }
    

    
    .fechar {
        color: #aaa;
        float: right;
        font-size: 1.75rem;
        font-weight: bold;
        cursor: pointer;
    }

    .fechar:hover,
    .fechar:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

        

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;  
        background-color: white;
        width: 100%;
        margin-top: 1em;
      }
    
      .footer-container-actions{
        margin: 0;
      }



    .footer-container-action a img,
    .footer-container-action-900px a img{
        width: 2.875em;
        
    }

}


