.flyTAP-icones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1220px;
    margin: 1em ;
    flex-wrap: wrap;
}

p.flyTAP{
    color: #4a4a4a;
    margin: 1em
}

.flyTAP-icones img {
    width: 100%;
    max-width: 50px;
    margin: 0.2em 2em;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.flyTAP-icones-2 img {
    width: 100%;
    max-width: 100px;
    margin: 0.2em 1.4em;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.flyTAP-icones img:hover {
    filter: brightness(0.6); 
}

@media screen and (min-width: 1220px) {
    .flyTAP-icones,
    p.flyTAP {
        margin: 1em auto;
    }
    
}