*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-btn,
.close-btn img {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-btn img {
    width: 100%;
    height: auto;
    margin-left: 10px;
}

.menu-container::-webkit-scrollbar {
    width: 8px;
}
.menu-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
.menu-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.menu-container::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.menu-container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100dvh;
    max-height: calc(100dvh - 60px);
    background-color: white;
    padding: 10px;
    display: none;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    align-items: center;
}

.menu-item a {
    color: #2c2c2c;
    font-size: 16px;
    font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.menu-list > li > .menu-item {
    border-bottom: 1px solid #f0f0f0;
}

.menu-list > li:hover {
    background-color: #f5f5f5;
}

.menu-list > li.open:hover {
    background-color: transparent;
}

.menu-list > li.has-submenu.open > .menu-item {
    background-color: #f0f0f0 ;
}

.submenu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.submenu li a {
    margin-left: 10px;
    color: #3a970e;
    font-size: 16px;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    font-weight: bold;
}
.submenu li:hover {
    background-color: transparent;
}

.has-submenu.open .submenu {
    display: flex;
}

.arrow img {
    width: 25px;
    height: auto;
}



.submenu .submenu .menu-item {
    padding: 5px;
    margin-left: 10px;
}


.submenu .submenu .menu-item a {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    font-family:"Lato", "Lucida Grande", Tahoma, sans-serif;
}

nav.menu-open .menu-container {
    display: flex;
}

.flytap-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 15px;
    margin-top: 4.35rem;
    width: 100%;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.flytap-box p,
.flytap-box a {
    font-size: 14px;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    color: #127045;
}

.flytap-box a {
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 35px 16px;
    text-align: left;
}

.requesito,
.portugal {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    color: #666666;
}

.requesito img,
.portugal img {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 768px) {
    nav.menu-open .nav-buttons > .nav-btn {
        display: none;
    }

    nav.menu-open .nav-buttons .nav-btn:last-child {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .menu-container {
        border-top: 2px solid #f5f5f5;
        left: auto;
        top: 60px;
        right: 0;
        width: 50%;
        height: 100dvh;
        max-height: calc(100dvh - 70px);
        background-color: white;
    }
    
    nav.menu-open .nav-buttons .profile-btn,
    nav.menu-open .nav-buttons .search-btn {
        display: flex;
    }

    nav.menu-open .nav-buttons .menu-btn {
        display: none;
    }

    nav.menu-open .nav-buttons .close-btn {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .menu-container{
        display: none;
    }
}
