*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-btn,
.close-btn img {
    width: 2.5em;
    height: 2.5em;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-btn img {
    width: 100%;
    height: auto;
    margin-left: 0.625em;
}

.menu-container::-webkit-scrollbar {
    width: 0.5em;
}
.menu-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.25em;
}
.menu-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.menu-container::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.menu-container {
    position: absolute;
    top: 3.75em;
    left: 0;
    width: 100%;
    height: 100dvh;
    max-height: calc(100dvh - 3.75em);
    background-color: white;
    padding: 0.625em;
    display: none;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0.75em;
    cursor: pointer;
    align-items: center;
}

.menu-item a {
    color: #2c2c2c;
    font-size: 1rem;
    font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.3125em;
}

.menu-list > li > .menu-item {
    border-bottom: 0.0625em solid #f0f0f0;
}

.menu-list > li:hover {
    background-color: #f5f5f5;
}

.menu-list > li.open:hover {
    background-color: transparent;
}

.menu-list > li.has-submenu.open > .menu-item {
    background-color: #f0f0f0 ;
}

.submenu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.submenu li a {
    margin-left: 0.625em;
    color: #3a970e;
    font-size: 1rem;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    font-weight: bold;
}
.submenu li:hover {
    background-color: transparent;
}

.has-submenu.open .submenu {
    display: flex;
}

.arrow img {
    width: 1.5625em;
    height: auto;
}



.submenu .submenu .menu-item {
    padding: 0.3125em;
    margin-left: 0.625em;
}


.submenu .submenu .menu-item a {
    color: #4a4a4a;
    font-size:  0.875rem;
    font-weight: 400;
    font-family:"Lato", "Lucida Grande", Tahoma, sans-serif;
}

nav.menu-open .menu-container {
    display: flex;
}

.flytap-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding: 0.9375em;
    margin-top: 4.35rem;
    width: 100%;
    box-shadow: 0 0.125em 0.25em -0.125em rgba(0, 0, 0, 0.1);
}

.flytap-box p,
.flytap-box a {
    font-size: 0.875rem;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    color: #127045;
}

.flytap-box a {
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.1875em 1em;
    text-align: left;
}

.requesito,
.portugal {
    display: flex;
    align-items: center;
    gap: 0.625em;
    margin-bottom: 1.5625em;
    font-size: 0.875rem;
    font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
    color: #666666;
}

.requesito img,
.portugal img {
    width: 1.5em;
    height: 1.5em;
}

@media screen and (max-width: 768px) {
    nav.menu-open .nav-buttons > .nav-btn {
        display: none;
    }

    nav.menu-open .nav-buttons .nav-btn:last-child {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .menu-container {
        border-top: 0.125em solid #f5f5f5;
        left: auto;
        top: 3.75em;
        right: 0;
        width: 50%;
        height: 100dvh;
        max-height: calc(100dvh - 3.75em);
        background-color: white;
    }
    
    nav.menu-open .nav-buttons .profile-btn,
    nav.menu-open .nav-buttons .search-btn {
        display: flex;
    }

    nav.menu-open .nav-buttons .menu-btn {
        display: none;
    }

    nav.menu-open .nav-buttons .close-btn {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .menu-container{
        display: none;
    }
}
