.sugestoes-pc{
    display: none;
}

.header-slider-sugestao{
    color: #2c2c2c;
    font-family: 'Montserrat', "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 1em 1em;
}

.slider-sugestao {
    position: relative;
    margin: 1em 1em 0 1em;
    overflow: hidden; 
    border-radius: 0.5em;
    cursor: pointer;
    user-select: none;
}


.slider-wrapper-sugestao {
    display: flex; 
    transition: transform 0.3s ease;
    width: 300%; 
}

.slide-sugestao {
    width: 100%;
    height: 18.75em; 
    position: relative; 
}

.slide-sugestao img {
    height: 100%; 
    width: 100%;
    object-fit: cover; 
    object-position: center; 
    filter: brightness(60%); 
}


.slider-conteudo-sugestao {
    position: absolute;
    top: 10em; 
    left: 0;
    width: 100%; 
    z-index: 2;
    padding-left: 1.25em;
    color: white;
    font-family: 'Lato', "Lucida Grande", Tahoma, sans-serif;
    font-weight: bold;
}

.slider-conteudo-sugestao h1,
.conteudo-sugestao h1  {
    font-size: 1.5rem; 
    margin-bottom: 0.625em; 
}

.slider-conteudo-sugestao p,
.conteudo-sugestao p  {
    font-size: 1rem; 
    margin: 0.625em 0; 
}

.slider-conteudo-sugestao a,
.conteudo-sugestao a   {
    display: inline-block;
    font-size: 0.9rem;
    margin-top: 0.625em; 
    color: #fff; 
   
}

.slider-conteudo-sugestao a:hover,
.conteudo-sugestao a:hover {
    text-decoration: underline;
}




@media screen and (min-width:768px) {
    .header-slider-sugestao{
        color: #2c2c2c;
        font-family: 'Montserrat', "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 1em;
    }

    .slide-sugestao,
    .indicadores-sugestao{
        display: none;
    }
    
    .sugestoes-pc { 
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 0.625em; 
        margin: 1em auto;
        width: 100%;
        max-width: 75.25em;
    }
    
    .sugestao {
        position: relative;
        background: #f5f5f5;
        border-radius: 0.5em;
        overflow: hidden;
        min-height: 15.625em;
        box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
        margin: 1em;
    }
    
    .sugestao img {
        width: 100%; 
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
        transition: transform 0.3s ease;
    }
    
    .sugestao:hover img {
        transform: scale(1.1); 
    }

    .conteudo-sugestao {
        position: absolute;
        top: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white; 
        padding: 1.25em;
        text-align: left;
        font-weight: bold;
    }
    
   
    .sugestao.grande {
        grid-column: span 2; 
    }
    
    
}

@media screen and (min-width:1224px) {
    .header-slider-sugestao{
        margin: 1em auto;
        width: 100%;
        max-width: 61em;
    }
}